<h1>Report a bird sighting!</h1>

<form action="/new" method="POST">
  <label><h4>Bird Type:</h4></label>
  <% Bird.all.each do |bird| %>
    <label><%= bird.species %></label>
    <input type="checkbox" id="bird_<%=bird.id%>" name="sighting[bird_id][]" value="<%= bird.id %>"><br>
  <% end %>

  <label>New Bird Type:</label>
  <input type="text" id="new_bird" name="sighting[new_bird]">


  <label>Location:</label>
  <input type="text" name="location" id="location">


  <label>Date and Time:</label>
  <input type="datetime-local" name="time" id="time">

  <input type="submit" value="Submit">
</form>
