<form action="/signup" method="POST">
  <label>Username:</label>
  <input type="text" id="username" name="user[name]">
  <label>Password:</label>
  <input type="text" id="password" name="user[password]">

  <input type="submit" value="Sign Up!">
</form>
