<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url('/application.css') %>">
  </head>

  <body>
    <div class="main">
    <%=yield%>
    <div>
    <footer>
      <div class="navigation">
        <a href="/">Home</a>
        <a href="/sightings">Sightings</a>
        <br>
      </div>
    </footer>
  </body>

</html>
